@import "./_file";
@import "./props";
@import "./nav";
@import "./tool";
@import "./view";

body {
    margin: 0px;
}

.grid {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    min-width: 100vw;
    min-height: 100vh;
    grid-template-columns: auto 70vw auto;
    grid-template-rows: 5vh 5vh auto;
    grid-template-areas: 
        "file file file"
        "tool tool tool"
        "nav  view props";
}

.help {
    position: fixed;
    bottom: 3vh;
    right: 1vw;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
}

